@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #e5e5e5;
}

body{
    background-color: #070707;
}

/* CABEÇALHO */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: #000;
}

header div img{
    width: 75px;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar ul li{
    padding: 6px 15px;
    font-size: 1.05rem;
    transition: 0.2s ease-in-out color;
}

.navbar ul li:hover{
    color: #05B4DB;
}

.btnContato{
    background-color: #eee;
    color: #000;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 15px;
    font-size: 1.1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(148, 148, 148, 0.233);
    transition: 0.3s ease-in-out background-color;
}

.btnContato:hover{
    background-color: #fff;
}

.sidebar{
    display: none;
}

/* CONTEÚDO */
.introducao{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    justify-content: space-around;
    padding: 40px 0px;
}

.introducao_text{
    width: 45vw;
    border-left: 7px solid #05B4DB;
    border-top: 7px solid #05B4DB;
    border-radius: 8px;
    height: 350px;
    box-sizing: border-box;
    padding: 30px;
}

.introducao_text h1,
.introducao_text p{
    font-family: 'Raleway', sans-serif;
}

.introducao_text h1{
    font-size: 3rem;
    font-weight: 400;
    line-height: 2;
}

.introducao_text p{
    font-size: 1.1rem;
    line-height: 1.5;
}

.underline{
    font-size: 1.5rem;
    animation: 0.8s animationShow infinite;
    line-height: 1;
}

@keyframes animationShow {
    from{color: #070707;}
    to{color: #fff;}
}

.introducao_image{
    width: 45vw;
    height: 350px;
}

.introducao_image img{
    height: 350px;
    width: auto;
}

.projects{
    padding: 70px 40px;
}

.projects h2{
    font-size: 2rem;
    font-weight: 500;
}

.projects_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 30px 0px;
}

.projects_container_project{
    border: 2px solid #05B4DB;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #00000065;
    height: 350px;
    width: 90%;
    margin-bottom: 100px;
}

.image{
    height: 100%;
}

.projects_container_project .img1,
.projects_container_project .img2,
.projects_container_project .img3,
.projects_container_project .img4,
.projects_container_project .img5{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.projects_container_project .img1{
    background-image: url('imagens/jogodavelha.png'); 
}

.projects_container_project .img2{
    background-image: url('imagens/historiando.png');
}

.projects_container_project .img3{
    background-image: url('imagens/aaafire.jpg');
}

.projects_container_project .img4{
    background-image: url('imagens/blocodenotas.png');
}

.projects_container_project .img5{
    background-image: url('imagens/whatsapp.png');
}

.projects_container_project h3{
    background-color: #3d3d3dd7;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 6px;
    font-size: 1.1rem;
    font-weight: 400;
}

.button{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects_container_project button{
    background-color: #05B4DB;
    color: #222;
    width: 150px;
    border-radius: 5px;
    padding: 6px 10px;
    border: none;
    outline: transparent;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.2s ease-in-out background-color;
    cursor: pointer;
}

.projects_container_project button:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.tecnologias h2{
    font-size: 2rem;
    font-weight: 500;
    padding-left: 40px;
}

.tecnologias_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 30px 0px;
}

.tecnologias_container_tecnologia{
    width: 26vw;
    background-color: #161616;
    border-radius: 10px;
    padding: 30px 0px;
    height: 750px;
}

.tecnologias_container_tecnologia h3{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 30px;
}

.tecnologias_container_tecnologia .tecnologia{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px; 
    margin: 30px 0px;
}

.tecnologias_container_tecnologia .tecnologia-reverse{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 80px;
    margin: 50px 0px;
}

.tecnologias_container_tecnologia .linha-azul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: #05B4DB;
    border-radius: 0px 30px 30px 0px;
}

.tecnologias_container_tecnologia span{
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
}

.tecnologias_container_tecnologia .linha-azul-reverse{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 50px;
    background-color: #05B4DB;
    border-radius: 30px 0px 0px 30px;
}

.tecnologias_container_tecnologia img{
    width: 80px;
}

/* AJUSTE ESPAÇO IMAGEM */
#bootstrap{
    margin-right: 5px;
    width: 75px;
}

#python{
    width: 75px;
    margin-left: 3px;
}

#php{
    margin-right: 3px;
}

#mysql{
    margin-left: 3px;
}

#git, 
#docker,
#vscode,
#wordpress{
    width: 75px;
}

#docker{
    margin-right: 3px;
}

#vscode{
    margin-left: 2px;
}

#wordpress{
    margin-right: 3px;
}

.sobre{
    padding: 70px 0px;
    margin: 70px 0px;
    background-color: #222;
}

.sobre h2{
    font-size: 2rem;
    font-weight: 400;
    padding: 0px 40px;
}

.sobre_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 30px 0px;
}

.profile,
.presentation{
    width: 45vw;
}

.profile{
    display: flex;
    box-sizing: border-box;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    border-bottom: 7px solid #05B4DB;
    border-right: 7px solid #05B4DB;
    border-radius: 8px;
}

.profile h3{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    padding: 0px 10px;
    color: #eee;
    font-weight: 300;
}

.profile img{
    width: 150px;
    height: 180px;
    object-position: center;
    object-fit: cover;
    border-radius: 20%;
    margin-top: 20px;
    box-shadow: 15px 15px 0px #046f86;
}

.presentation p{
    font-size: 1.1rem;
    line-height: 1.5;
}

.curriculo{
    margin: 70px 0px;
}

.curriculo h2{
    font-size: 2rem;
    font-weight: 400;
    padding: 0px 40px;
}

.curriculo_container{
    padding: 40px 0px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curriculo_container a{
    width: 250px;
    margin: 0px 50px;
}

.curriculo_container button{
    width: 250px;
    height: 60px;
    text-align: center;
    font-size: 1.2rem;
    border: transparent;
    outline: transparent;
    border-radius: 10px;
}

.curriculo_container button i{
    font-size: 1.5rem;
    padding-left: 10px;
}

.curriculo_container button.pdf{
    background-color: #AA0A00;
    border-bottom: 5px solid #7e0901;
}

.curriculo_container button.zip{
    background-color: #EA9602;
    border-bottom: 5px solid #a56902;
}

.curriculo_container button.zip:hover,
.curriculo_container button.pdf:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out transform;
    transform: scale(1.02);
}