@charset "utf-8";
/* RESET BASICO */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* CABEÇALHO */
header{
    display: flex;
    background-color: rgb(27, 223, 223);
    align-items: center;
    height: 90px;
    width: 100%;
    justify-content: space-between;
}
.logo{
    width: 10%;
}
.logo img{
    width: 100px;
    height: auto;
    margin-top: 10px;
    margin-left: 100px;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}
.navbar nav .lista_principal{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.lista_principal li{
    padding: 10px;
    border-radius: 10px;
}
.lista_principal li:hover{
    background-color: rgb(3, 211, 211);
}
.navbar nav .lista_principal li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: 550;
    color: #000;
}
.navbar nav .lista_principal li i{
    margin-left: 3px;
}
#item1, #item3, #item4{
    margin-left: 20px;
}
#item1{
    margin-right: 20px;
}
#item4{
    margin-right: 100px;
}
.sublista{
    display: none;
    position: fixed;
    background-color: #E6722E;
    margin-top: 10px;
    border-radius: 10px;
    z-index: 1;
}
.sublista li{
    padding: 0;
}
.sublista li a{
    text-align: center;
    display: block;
    color: #000;
    font-family: 'Mukta', sans-serif;
    padding: 10px;
}
#subitem1{
    border-bottom: 1px solid #444;
}
.sublista li:hover{
    background-color: #e68954;
}
#check{
    display: none;
}
#btn{
    display: none;
}
#cancel{
    display: none;
}
.sidebar{
    display: none;
}
/* CONTEUDO PRINCIPAL */
.first_part{
    display: flex;
    background-image: url(imagens/background.jpg);
    background-size: 100%;
    height: 600px;
}
.introducao{
    width: 850px;
    background-color: rgba(170, 170, 170, 0.2);
    height: 500px;
    transform: translateX(20px) translateY(20px);
    border-radius: 20px;
}
.introducao h1{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;
    padding: 100px 0px 0px 40px;
    font-family: 'Orbitron', sans-serif;
    transform: translateY(-150px);
}
.introducao p{
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    width: 650px;
    text-align: justify;
    padding: 20px 20px 0px 100px;
    transform: translateY(-130px);
}
.introducao .circ1{
    position: relative;
    width: 140px;
    height: 140px;
    background-color: rgba(255, 99, 71, 0.185);
    border-radius: 30%;
    animation: myanimation1 10s infinite linear;
}
@keyframes myanimation1{
    0%{left: 0px; top: 0px}
    50%{left: 635px; top: 360px}
    100%{left: 0px; top: 0px;}
}
.introducao .circ2{
    position: relative;
    width: 140px;
    height: 140px;
    background-color: rgba(255, 99, 71, 0.185);
    border-radius: 30%;
    animation: myanimation2 10s infinite linear;
}
@keyframes myanimation2{
    0%{left: 0px; top: -120px}
    50%{left: 635px; top: -480px}
    100%{left: 0px; top: -120px;}
}
.robo{
    display: flex;
    align-items: center;
}
.robo img{
    width: 300px;
    height: 300px;
    margin-left: 20px;
    animation: roboanimation 5s infinite linear;
    transition: linear;
    position: relative;
}
@keyframes roboanimation{
    0%{top: 0px}
    50%{top: 40px}
    100%{top: 0px}
}
.robo-frase{
    display: flex;
    align-items: center;
}
.robo-frase p{
    background-color: #eee;
    color: #E6722E;
    padding: 5px;
    font-size: 1.1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    transform: translate(-40px, -110px);
    border-radius: 20px 20px 20px 0px;
    animation: fraseanimation 5s infinite linear;
    position: relative;
}
@keyframes fraseanimation{
    0%{top: 0px}
    50%{top: 40px}
    100%{top: 0px}
}
.second_part{
    height: 750px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
}
.autobiografia{
    width: 700px;
    height: 500px;
    transform: translate(0px, 100px);
    background: linear-gradient(to right, #f5f5f520, rgba(187, 187, 187, 0.111));
    padding: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 6px #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.autobiografia h1{
    flex: none;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 15px;
    text-align: left;
}
.autobiografia p{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 15px;
}
.autobiografia img{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.complemento{
    display: flex;
    flex-direction: column;
    transform: translate(0px, 40px);
}
.lua{
    margin-bottom: 250px;
}
.lua .circBranco{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #eee;
    position: relative;
    animation: coloranimation 7s infinite linear;
}
@keyframes coloranimation {
    0%{background-color: #222;}
    20%{background-color: #666;}
    40%{background-color: #999;}
    60%{background-color: #aaa;}
    80%{background-color: #eee;}
    100%{background-color: hsl(0, 0%, 300%);}
}
.lua .circPreto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    transform: translate(40px, -170px);
}
.robo_vector img{
    width: 150px;
    height: 150px;
    position: relative;
    transform: translate(-120px, 0px);
}
.robo_vector p{
    background-color: #eee;
    color: #E6722E;
    font-size: 1.1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 8px;
    width: 120px;
    text-align: center;
    border-radius: 20px 20px 20px 0px;
    transform: translate(10px, -170px);
}
.tecnologias{
    height: auto;
    background-color: #f5f5f5;
    padding-bottom: 50px;
}
.tecnologias div h1{
    color: #E6722E;
    font-size: 2.4rem;
    font-family: 'Orbitron', sans-serif;
    padding: 100px 0px 15px 30px;
}
.tecnologias div p{
    font-size: 1.2rem;
    font-family: cursive;
    padding: 0px 10px 40px 40px;
}
.tecnologias div h2{
    text-align: center;
    background-color: #f5f5f5;
    width: 1250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    border-radius: 10px;
}
.tecnologias .linguagens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
.tecnologias .linguagens .html, .css, .js{
    border: 1px solid #ccc;
    width: 350px;
    height: 300px;
    margin: auto;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 100px;
}
.linguagens #html, #css{
    display: flex;
    width: 130px;
    height: 130px;
    margin: auto;
    padding-top: 15px;
}
.linguagens #css{
    margin-bottom: 14px;
}
.linguagens #html{
    margin-bottom: 3px;
}
.linguagens #js{
    display: flex;
    width: 110px;
    height: 150px;
    margin: auto;
    padding: 5px;
}
.linguagens .html p{
    text-align: center;
    padding-right: 30px;
    padding-top: 10px;
}
.linguagens .css p{
    text-align: center;
    padding-right: 30px;
}
.linguagens .js p{
    padding-right: 25px;
    text-align: center;
}
.frameworks{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.frameworks .bootstrap, .react{
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
    margin: auto;
    border-radius: 20px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
}
.frameworks div img{
    display: flex;
    margin: auto;
}
.frameworks div p{
    text-align: center;
    padding-right: 30px;
}
.frameworks .react img{
    margin-bottom: 15px;
    display: flex;
    margin: auto;
}
.banco-dados{
    display: flex;
    grid-template-columns: 1fr;
}
.banco-dados .mysql{
    display: grid;
    place-items: center;
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.banco-dados .mysql img{
    display: flex;
    margin: auto;
    margin-bottom: 15px;
}
.banco-dados .mysql p{
    text-align: center;
    padding-right: 30px;
}
.back-end{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.back-end .php, .python{
    width: 400px;
    height: 300px;
    margin: auto;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-top: 30px;
}
.back-end .php img, .python img{
    display: flex;
    margin: auto;
}
.back-end .php p, .back-end .python p{
    text-align: center;
    padding-right: 30px;
    margin-top: 20px;
}
.experiencia{
    background-color: #010c43;
    padding-bottom: 100px;
}
.experiencia div{
    padding: 60px 0px 0px 20px;
    background-color: #010c43;
}
.experiencia div h2{
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    padding-bottom: 40px;
}
.experiencia div h3{
    color: #fff;
    font-size: 1.7rem;
    font-family: monospace;
    padding: 15px 0px 8px 15px;
}
.experiencia div p{
    color: #fff;
    font-size: 1.2rem;
    font-family: monospace;
    padding-left: 30px;
    text-align: justify;
    width: 750px;
}
.experiencia div figure{
    width: 1150px;
    height: 507px;
    background-color: #36479d;
    margin: auto;
    margin-top: 50px;
    box-shadow: 2px 2px 8px #00051c72;
    border-radius: 10px;
}
.experiencia div figure img{
    width: 900px;
    object-fit: cover;
    border-radius: 10px;
}
.experiencia div figure video{
    width: 200px;
    transform: translate(20px, -70px);
    border-radius: 10px;
}
.experiencia div figure video{
    outline: none;
}
.experiencia .ver-site{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    margin-top: 25px;
}
.experiencia div input:focus{
    outline: none;
}
.experiencia div input:hover{
    background-color: #2d3b82;
}
.experiencia div input{
    border: none;
    background-color: #36479d;
    color: #eee;
    padding: 7px;
    border-radius: 10px;
    width: 150px;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.experiencia .arkkio {
    margin-top: 40px;
}
footer .about{
    height: auto;
    padding: 100px 0px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
}
footer .about .bio{
    width: 45%;
    padding: 0px 15px;
}
.about .bio h2{
    font-family: monospace;
    padding-bottom: 15px;
    font-size: 3rem;
    font-weight: 600;
}
.about .bio p{
    width: 90%;
    font-family: monospace;
    font-size: 1.3rem;
    padding-left: 5px;
    font-weight: 600;
}
footer .about .sociais{
    width: 35%;
    padding: 0px 15px;
    padding-right: 50px;
}
.about .sociais p{
    font-size: 1.3rem;
    font-family: monospace;
    font-weight: 600;
}
.about .sociais i{
    color: #b4975a;
    font-size: 1.4rem;
    margin: 10px 5px;
    padding: 5px;
    font-weight: 600;
    width: 20px;
    border-radius: 10px;
}
.about .sociais i:hover{
    background-color: #b4975a;
    color: #fff;
}
footer .about .contato{
    padding: 0px 15px;
}
.about .contato h2{
    font-family: monospace;
    padding-bottom: 15px;
    font-size: 3rem;
    font-weight: 600;
}
.about .contato p{
    font-size: 1.3rem;
    font-family: monospace;
    font-weight: 600;
}
footer .copyright{
    background-color: #b4975a;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright .copy p{
   font-size: 1.2rem;
   color: #fff;
   font-family: 'Times New Roman', Times, serif;
}

/* MEDIA QUERIE */
@media (max-width: 768px){
    /* CABECALHO */
    header{
        flex-direction: row-reverse;
        width: 100%;
    }
    .navbar{
        display: none;
    }
    .sidebar{
        position: fixed;
        left: -300px;
        top: 0px;
        width: 300px;
        background-color: #fff;
        height: 100%;
        transition: ease-in-out 0.5s;
        box-shadow: 2px 2px 6px rgb(158, 158, 158);
        z-index: 1;
    }
    .sidebar header{
        height: 80px;
        text-align: center;
        font-size: 1.5rem;
        color: #000;
        padding: 30px;
        background-color: #f5f5f5;
    }
    .sidebar ul a{
        display: block;
        font-size: 1.1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #000;
        height: 100%;
        width: 100%;
        text-align: left;
        padding-left: 40px;
        line-height: 55px;
        box-sizing: border-box;
        border-bottom: 2px solid rgb(200, 200, 200, 0.5);
        transition: ease-in-out 0.3s;
    }
    .sidebar li:hover a{
        padding-left: 50px;
        background-color: #eee;
    }
    .sidebar ul li i{
        margin-right: 10px;
    }
    #check{
        display: none;
    }
    label #btn, label #cancel{
        position: absolute;
        cursor: pointer;
    }
    label #btn{
        color: #000;
        font-size: 20px;
        z-index: 1;
    }
    label #cancel{
        z-index: 1111;
        left: -251px;
        top: 20px;
        font-size: 20px;
        border: 2px solid #aaa;
        color: #f00;
        padding: 5px;
        border-radius: 10px;
    }
    #check:checked ~ .sidebar{
        transition: ease-in-out 0.5s;
        transform: translateX(300px);
    }
    #check:checked ~ .sidebar_lista{
        overflow: auto;
    }
    #check:checked ~ label #btn{
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }
    #check:checked ~ label #cancel{
        transition: ease-in-out 0.5s;
        left: 252px;
        position: fixed;
    }
    /* MAIN */
    body{
        height: auto;
        width: 100%;
        padding: 0;
    }
    .first_part .introducao{
        height: auto;
        width: 95%;
        margin: auto;
        transform: translate(0px, 0px);
    }
    .introducao h1{
        font-size: 1.7rem;
    }
    .introducao p{
        width: 100%;
        padding: 10px;
        font-size: 1.3rem;
    }
    .circ1{
        display: none;
    }
    .circ2{
        display: none;
    }
    .robo{
        display: none;
    }
    .robo-frase{
        display: none;
    }
    .second_part{
        height: auto;
    }
    .second_part .autobiografia{
        width: 95%;
        padding: 10px;
        margin: auto;
        height: 800px;
    }
    .second_part .autobiografia img{
        width: 150px;
        height: 150px;
    }
    .second_part .complemento{
        display: none;
    }
    .tecnologias{
        height: auto;
        padding-top: 100px;
    }
    .tecnologias div .linguagens, .frameworks, .banco-dados, .back-end{
        display: flex;
        flex-direction: column;
    }
    .tecnologias div .linguagens div, .frameworks div, .banco-dados div, .back-end div{
        width: 80%;
        margin: auto;
    }
    .tecnologias div h2{
        width: 95%;
        margin: auto;
    }
    .experiencia div figure{
        width: 95%;
        margin: auto;
    }
    .experiencia div p{
        width: 100%;
        padding: 5px;
    }
    .experiencia div figure img{
        width: 100%;
    }
    .experiencia div figure video{
        width: 50%;
        transform: translate(70px, 10px);
    }
    /* RODAPE */
    footer .about{
        width: 100%;
        flex-direction: column;
    }
    footer .about .bio{
        width: 100%;
    }
    footer .about .bio h2{
        padding: 0px 5px 15px 5px;
        font-size: 2rem;
    }
    footer .about .bio p{
        width: 95%;
        line-height: 1.5;
        font-size: 1.2rem;
        padding: 0px 5px 0px 5px;
    }
    footer .about .sociais{
        width: 100%;
    }
    footer .about .sociais p{
        width: 100%;
        font-size: 1.2rem;
        padding: 80px 5px 0px 5px;
    }
     footer .about .contato{
        width: 100%;
    }
    footer .about .contato h2{
        font-size: 2rem; 
        padding: 50px  5px 15px 5px;
    }
    footer .about .contato p{
        font-size: 1.2rem;
        padding: 0px 5px;
        line-height: 1.5;
    }
    .copyright .copy p{
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
    }
}