@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #e5e5e5;
}

body{
    background-color: #070707;
}

/* CABEÇALHO */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: #000;
}

header div img{
    width: 75px;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar ul li{
    padding: 6px 15px;
    font-size: 1.05rem;
    transition: 0.2s ease-in-out color;
}

.navbar ul li:hover{
    color: #05B4DB;
}

.btnContato{
    background-color: #eee;
    color: #000;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 15px;
    font-size: 1.1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(148, 148, 148, 0.233);
    transition: 0.3s ease-in-out background-color;
}

.btnContato:hover{
    background-color: #fff;
}

.sidebar{
    display: none;
}

/* CONTEÚDO */
.introducao{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    justify-content: space-around;
    padding: 40px 0px;
}

.introducao_text{
    width: 45vw;
    border-left: 7px solid #05B4DB;
    border-top: 7px solid #05B4DB;
    border-radius: 8px;
    height: 350px;
    box-sizing: border-box;
    padding: 30px;
}

.introducao_text h1,
.introducao_text p{
    font-family: 'Raleway', sans-serif;
}

.introducao_text h1{
    font-size: 3rem;
    font-weight: 400;
    line-height: 2;
}

.introducao_text p{
    font-size: 1.1rem;
    line-height: 1.5;
}

.underline{
    font-size: 1.5rem;
    animation: 0.8s animationShow infinite;
    line-height: 1;
}

@keyframes animationShow {
    from{color: #070707;}
    to{color: #fff;}
}

.introducao_image{
    width: 45vw;
    height: 350px;
}

.introducao_image img{
    height: 350px;
    width: auto;
}

.projects{
    margin: 70px 0px;
}

.projects h2{
    padding: 0px 40px;
    font-size: 2.2rem;
    font-weight: 400;
}

.projects_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 30px 0px;
}

.projects_container a{
    width: 27vw;
    height: 350px;
    margin-bottom: 50px;
}

.projects_container_project{
    width: 27vw;
    height: 350px;
    border: 3px solid #05B4DB;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.562);
    box-sizing: border-box;
    position: relative;
}

.projects_container_project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

.projects_container_project span{
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 1%;
    color: #222;
    opacity: 0;
    transition: 0.2s ease-in-out;
    padding: 0px 20px;
}

/* ÍNICIO EFEITOS OVERLAY */
#jogo_da_velha:hover > #img_jogo_da_velha{
    filter: blur(3px);
}

#jogo_da_velha:hover > #txt_jogo_da_velha{
    opacity: 1;
}

#arkkio:hover > #img_arkkio{
    filter: blur(3px);
}

#arkkio:hover > #txt_arkkio{
    opacity: 1;
}

#historiando:hover > #img_historiando{
    filter: blur(3px);
}

#historiando:hover > #txt_historiando{
    opacity: 1;
}

#aaa_fire:hover > #img_aaa_fire{
    filter: blur(3px);
}

#aaa_fire:hover > #txt_aaa_fire{
    opacity: 1;
}

#bloco_de_notas:hover > #img_bloco_de_notas{
    filter: blur(3px);
}

#bloco_de_notas:hover > #txt_bloco_de_notas{
    opacity: 1;
}

#web_whatsapp:hover > #img_web_whatsapp{
    filter: blur(3px);
}

#web_whatsapp:hover > #txt_web_whatsapp{
    opacity: 1;
}

/* FIM EFEITOS OVERLAY */

.tecnologias h2{
    font-size: 2.2rem;
    font-weight: 400;
    padding-left: 40px;
}

.tecnologias_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 30px 0px;
}

.tecnologias_container_tecnologia{
    width: 26vw;
    background-color: #161616;
    border-radius: 10px;
    padding: 30px 0px;
    height: 750px;
}

.tecnologias_container_tecnologia h3{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 30px;
}

.tecnologias_container_tecnologia .tecnologia{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px; 
    margin: 30px 0px;
}

.tecnologias_container_tecnologia .tecnologia-reverse{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 80px;
    margin: 50px 0px;
}

.tecnologias_container_tecnologia .linha-azul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: #05B4DB;
    border-radius: 0px 30px 30px 0px;
}

.tecnologias_container_tecnologia span{
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
}

.tecnologias_container_tecnologia .linha-azul-reverse{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 50px;
    background-color: #05B4DB;
    border-radius: 30px 0px 0px 30px;
}

.tecnologias_container_tecnologia img{
    width: 80px;
}

/* AJUSTE ESPAÇO IMAGEM */
#bootstrap{
    margin-right: 5px;
    width: 75px;
}

#python{
    width: 75px;
    margin-left: 3px;
}

#php{
    margin-right: 3px;
}

#mysql{
    margin-left: 3px;
}

#git, 
#docker,
#vscode,
#wordpress{
    width: 75px;
}

#docker{
    margin-right: 3px;
}

#vscode{
    margin-left: 2px;
}

#wordpress{
    margin-right: 3px;
}

.sobre{
    padding: 70px 0px;
    margin: 70px 0px;
    background-color: #222;
    position: relative;
}

.sobre h2{
    font-size: 2.2rem;
    font-weight: 400;
    padding: 0px 40px;
}

.sobre_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 30px 0px;
}

.profile,
.presentation{
    width: 45vw;
}

.profile{
    display: flex;
    box-sizing: border-box;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    border-bottom: 7px solid #05B4DB;
    border-right: 7px solid #05B4DB;
    border-radius: 8px;
}

.profile h3{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    padding: 0px 10px;
    color: #eee;
    font-weight: 300;
}

.profile img{
    width: 150px;
    height: 180px;
    object-position: center;
    object-fit: cover;
    border-radius: 20%;
    margin-top: 20px;
    box-shadow: 15px 15px 0px #046f86;
}

.presentation p{
    font-size: 1.1rem;
    line-height: 1.5;
}

.curriculo{
    margin: 70px 0px;
}

.curriculo h2{
    font-size: 2.2rem;
    font-weight: 400;
    padding: 0px 40px;
    text-align: center;
}

.curriculo_container{
    padding: 40px 0px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curriculo_container a{
    width: 250px;
    margin: 0px 50px;
}

.curriculo_container button{
    width: 250px;
    height: 60px;
    text-align: center;
    font-size: 1.2rem;
    border: transparent;
    outline: transparent;
    border-radius: 10px;
}

.curriculo_container button i{
    font-size: 1.5rem;
    padding-left: 10px;
}

.curriculo_container button.pdf{
    background-color: #AA0A00;
    border-bottom: 5px solid #7e0901;
}

.curriculo_container button.zip{
    background-color: #EA9602;
    border-bottom: 5px solid #a56902;
}

.curriculo_container button.zip:hover,
.curriculo_container button.pdf:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out transform;
    transform: scale(1.02);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    height: 150px;
}

footer ul{
    display: flex;
}

footer ul li{
    padding: 0px 15px;
}

footer ul li i{
    font-size: 2.2rem;
    padding: 8px;
    transition: 0.2s ease-in-out background-color;
    border-radius: 10px;
}

footer ul li i:hover{
    background-color: #fff;
    color: #000;
}